[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "==1.3.0"
flask = "*"
pandas = "*"
gunicorn = "*"
numpy = "*"
requests = "*"
boto3 = "*"
mlflow = "*"
prefect = "*"
tqdm = "*"
joblib = "*"
pyarrow = "*"
psycopg = "*"
psycopg-binary = "*"
evidently = "*"
jupyter = "*"
matplotlib = "*"
mypy-extensions = "*"
packaging = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.13"
